{% extends "base.html" %}
{% load static %}


{% block layout %}
<section class="section-conten padding-y" style="min-height:84vh">

        <div class="card mx-auto" style="width: 37rem; margin-top:100px; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
          <div class="card-body p-5">
          <h4 class="card-title mb-6 font-bold mx-auto text-3xl text-indigo-900">Forgot Password</h4>
          {% include 'includes/alert.html' %}
          <form action="{% url 'forgotPassword' %}" method="POST">
            {% csrf_token %}
              <div class="form-group mb-5">
                 <input type="email" class="form-control font-bold text-gray-900" placeholder="Email Address" name="email">
              </div> <!-- form-group// -->

              <div class="form-group text-blue-900 font-bold">
                  <a href="{% url 'login' %}" class="float-right">Got password? Login</a>

              </div> <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
              </div> <!-- form-group// -->
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->

         <p class="text-center mt-4 text-blue-900">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
         <br><br>
    </section>
{% endblock %}