{% extends "base.html" %}
{% load static %}


{% block layout %}
<section class="section-conten padding-y" style="min-height:84vh">


        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
          <div class="card-body">
          <h4 class="card-title mb-4">Reset Password</h4>
          {% include 'includes/alert.html' %}
          <form action="{% url 'resetPassword' %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Create Password" name="password">
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
              </div> <!-- form-group// -->

              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
              </div> <!-- form-group// -->
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->

         <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
         <br><br>
    </section>
{% endblock %}