{% extends 'layouts/social.html' %}

{% block content %}

{% include 'socialpost/post.html' %}

{% if user.is_authenticated %}
<div class="card !pb-0 -mt-3" style="margin-left:10rem;">
    <form  method="POST" action="{% url 'comment-sent' post.id %}" class="flex items-center p-4" autocomplete="off"
    >
        {% csrf_token %}
        {{ commentform }}
        <button @click="open = false" class="block ml-2" type="submit">Submit</button>
    </form>
</div>
{% endif %}
{% if post.comments.count %}
<div class="mb-20 " style="margin-left:10rem;">


    <div id="tab-contents">
        {% for comment in post.comments.all %}
        {% include 'socialpost/comment.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}