{% comment %}
<div id="new-message" aria-hidden="true" class="hidden overflow-x-hidden overflow-y-auto fixed h-modal md:h-full top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center">
    <div class="relative w-full max-w-md px-4 h-full md:h-auto">

        <div class="bg-white rounded-lg shadow relative dark:bg-gray-700">
        <div class=" flex gap-2 items-center">
            <span class="font-bold">To:</span>
            <input class="p-3 w-screen lg:full" placeholder="Search user ..." type="text" name="search_user" hx-get="{% url 'inbox_searchusers' %}" hx-trigger="keyup changed" hx-target="#search-results" hx-swap="innerHTML">
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="new-message">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
    </div>


    <div id="search-results" class="block h-60 overflow-y-auto">
        {% include 'chatinbox/list_search.html' %}
    </div>
</div>
</div>
</div> {% endcomment %}